*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}

header {
  padding: 1rem 1rem;
  font-size: 2.5rem;
  background: linear-gradient(rgb(117, 255, 211), rgb(203, 232, 255));
  font-weight: bold;
}

main {
  padding: 1rem 1rem;
  position: relative;
}

.btns button {
  padding: .25em 1.7em;
  font-size: 1.1rem;
  border-radius: 6px;

  &:hover {
    background-color: aliceblue;
  }

  &:active {
    background-color: rgb(224, 238, 251);
  }
}


.gameBoard {
  display: grid;
  grid-template-columns: repeat(3, minmax(75px, 125px));
  grid-template-rows: repeat(3, minmax(75px, 125px));
  border: 1px solid black;
  justify-content: center;
  align-items: center;

}

.gameBoard .square {
  font-size: 2rem;
  height: 100%;
  user-select: none;
  padding: .25rem;
}

.square p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  &:hover {
    cursor: pointer;
    background-color: rgb(237, 237, 237);
  }

  &:active {
    background-color: rgb(184, 184, 184);
  }
}


.endGameOverlay {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.endGameOverlay .contentBox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid black;
  min-width: 50%;
  border-radius: 6px;
  background-color: rgb(231, 231, 231);
  padding: 2rem;
}

.contentBox .winnerMessage {
  font-size: 1.5rem;
  font-weight: bold;
}

.middle-column {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.middle-row {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.hide-display {
  display: none;
}

.roundDescription {
  font-weight: 600;
}